// Bordered & Pulled
// -------------------------

.#{$icon-css-prefix}-border {
  border: solid .08em $icon-border-color;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.#{$icon-css-prefix}-pull-left { float: left; }
.#{$icon-css-prefix}-pull-right { float: right; }

.#{$icon-css-prefix},
.ais,
.air,
.ail,
.aib {
  &.#{$icon-css-prefix}-pull-left { margin-right: .3em; }
  &.#{$icon-css-prefix}-pull-right { margin-left: .3em; }
}
