// Variables
// --------------------------

$ala-font-path:         "fonts" !default;
$ala-font-size-base:    16px !default;
$ala-font-display:      auto !default;
$ala-css-prefix:        ala !default;
$ala-version:           "1.3" !default;
$ala-border-color:      #eee !default;
$ala-inverse:           #fff !default;
$ala-li-width:          2em !default;
$ala-fw-width:          (20em / 16);
$ala-primary-opacity:   1 !default;
$ala-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function ai-content($ala-var) {
  @return unquote("\"#{ $ala-var }\"");
}

$ala-var-24-hour-front-desk: "\e9a3";
$ala-var-500px: "\f26e";
$ala-var-about-us: "\e901";
$ala-var-about-us-2: "\e902";
$ala-var-accommodation: "\e913";
$ala-var-accommodation-2: "\e914";
$ala-var-address-book: "\f2b9";
$ala-var-address-book-o: "\f2ba";
$ala-var-address-card: "\f2bb";
$ala-var-vcard: "\f2bb";
$ala-var-address-card-o: "\f2bc";
$ala-var-vcard-o: "\f2bc";
$ala-var-adjust: "\f042";
$ala-var-adn: "\f170";
$ala-var-adult: "\e98c";
$ala-var-align-center: "\f037";
$ala-var-align-justify: "\f039";
$ala-var-align-left: "\f036";
$ala-var-align-right: "\f038";
$ala-var-amazon: "\f270";
$ala-var-ambulance: "\f0f9";
$ala-var-american-sign-language-interpreting: "\f2a3";
$ala-var-asl-interpreting: "\f2a3";
$ala-var-anchor: "\f13d";
$ala-var-ancient-city: "\e941";
$ala-var-android: "\f17b";
$ala-var-angellist: "\f209";
$ala-var-angle-double-down: "\f103";
$ala-var-angle-double-left: "\f100";
$ala-var-angle-double-right: "\f101";
$ala-var-angle-double-up: "\f102";
$ala-var-angle-down: "\f107";
$ala-var-angle-left: "\f104";
$ala-var-angle-right: "\f105";
$ala-var-angle-up: "\f106";
$ala-var-apple: "\f179";
$ala-var-archive: "\f187";
$ala-var-area-chart: "\f1fe";
$ala-var-arrow-circle-down: "\f0ab";
$ala-var-arrow-circle-left: "\f0a8";
$ala-var-arrow-circle-o-down: "\f01a";
$ala-var-arrow-circle-o-left: "\f190";
$ala-var-arrow-circle-o-right: "\f18e";
$ala-var-arrow-circle-o-up: "\f01b";
$ala-var-arrow-circle-right: "\f0a9";
$ala-var-arrow-circle-up: "\f0aa";
$ala-var-arrow-down: "\e955";
$ala-var-arrow-down-2: "\e956";
$ala-var-arrow-down-3: "\e957";
$ala-var-arrow-down-4: "\e958";
$ala-var-arrow-down1: "\f063";
$ala-var-arrow-left: "\e951";
$ala-var-arrow-left-2: "\e952";
$ala-var-arrow-left-3: "\e953";
$ala-var-arrow-left-4: "\e954";
$ala-var-arrow-left1: "\f060";
$ala-var-arrow-right: "\e949";
$ala-var-arrow-right-2: "\e94a";
$ala-var-arrow-right-3: "\e94b";
$ala-var-arrow-right-4: "\e94c";
$ala-var-arrow-right1: "\f061";
$ala-var-arrow-up: "\e94d";
$ala-var-arrow-up-2: "\e94e";
$ala-var-arrow-up-3: "\e94f";
$ala-var-arrow-up-4: "\e950";
$ala-var-arrow-up1: "\f062";
$ala-var-arrows: "\f047";
$ala-var-arrows-alt: "\f0b2";
$ala-var-arrows-h: "\f07e";
$ala-var-arrows-v: "\f07d";
$ala-var-ask: "\e95e";
$ala-var-ask-2: "\e95f";
$ala-var-assistive-listening-systems: "\f2a2";
$ala-var-asterisk: "\f069";
$ala-var-at: "\f1fa";
$ala-var-atv: "\e97a";
$ala-var-audio: "\e939";
$ala-var-audio-description: "\f29e";
$ala-var-audio-second: "\e93a";
$ala-var-automobile: "\f1b9";
$ala-var-car1: "\f1b9";
$ala-var-backward: "\f04a";
$ala-var-balance-scale: "\f24e";
$ala-var-ban: "\f05e";
$ala-var-bandcamp: "\f2d5";
$ala-var-bank: "\f19c";
$ala-var-institution: "\f19c";
$ala-var-university: "\f19c";
$ala-var-bar: "\e993";
$ala-var-bar-chart: "\f080";
$ala-var-bar-chart-o: "\f080";
$ala-var-barcode: "\f02a";
$ala-var-bars: "\f0c9";
$ala-var-navicon: "\f0c9";
$ala-var-reorder: "\f0c9";
$ala-var-bath: "\f2cd";
$ala-var-bathtub: "\f2cd";
$ala-var-s15: "\f2cd";
$ala-var-battery: "\f240";
$ala-var-battery-4: "\f240";
$ala-var-battery-full: "\f240";
$ala-var-battery-0: "\f244";
$ala-var-battery-empty: "\f244";
$ala-var-battery-1: "\f243";
$ala-var-battery-quarter: "\f243";
$ala-var-battery-2: "\f242";
$ala-var-battery-half: "\f242";
$ala-var-battery-3: "\f241";
$ala-var-battery-three-quarters: "\f241";
$ala-var-bbq: "\e936";
$ala-var-beach: "\e9a4";
$ala-var-bed: "\f236";
$ala-var-hotel: "\f236";
$ala-var-beer: "\f0fc";
$ala-var-behance: "\f1b4";
$ala-var-behance-square: "\f1b5";
$ala-var-bell: "\f0f3";
$ala-var-bell-o: "\f0a2";
$ala-var-bell-slash: "\f1f6";
$ala-var-bell-slash-o: "\f1f7";
$ala-var-bicycle: "\f206";
$ala-var-billiards: "\e9a6";
$ala-var-binoculars: "\f1e5";
$ala-var-birthday: "\e92e";
$ala-var-birthday-cake: "\f1fd";
$ala-var-bitbucket: "\f171";
$ala-var-bitbucket-square: "\f172";
$ala-var-bitcoin: "\f15a";
$ala-var-btc: "\f15a";
$ala-var-black-tie: "\f27e";
$ala-var-blind: "\f29d";
$ala-var-blue-cruise: "\e917";
$ala-var-blue-cruise-2: "\e918";
$ala-var-bluetooth: "\f293";
$ala-var-bluetooth-b: "\f294";
$ala-var-bold: "\f032";
$ala-var-bolt: "\f0e7";
$ala-var-flash: "\f0e7";
$ala-var-bomb: "\f1e2";
$ala-var-book: "\f02d";
$ala-var-booking-manager: "\e906";
$ala-var-booking-manager-2: "\e907";
$ala-var-booking-manager-3: "\e908";
$ala-var-bookmark: "\f02e";
$ala-var-bookmark-o: "\f097";
$ala-var-braille: "\f2a1";
$ala-var-breakfast: "\e923";
$ala-var-breakfast-2: "\e924";
$ala-var-briefcase: "\f0b1";
$ala-var-bug: "\f188";
$ala-var-building: "\f1ad";
$ala-var-building-o: "\f0f7";
$ala-var-bullhorn: "\f0a1";
$ala-var-bullseye: "\f140";
$ala-var-bus: "\e90d";
$ala-var-bus-2: "\e90e";
$ala-var-bus-3: "\f207";
$ala-var-butterfly: "\e935";
$ala-var-buysellads: "\f20d";
$ala-var-cab: "\f1ba";
$ala-var-taxi1: "\f1ba";
$ala-var-calculator: "\f1ec";
$ala-var-calendar: "\f073";
$ala-var-calendar-check-o: "\f274";
$ala-var-calendar-minus-o: "\f272";
$ala-var-calendar-o: "\f133";
$ala-var-calendar-plus-o: "\f271";
$ala-var-calendar-times-o: "\f273";
$ala-var-camel: "\e979";
$ala-var-camera: "\f030";
$ala-var-camera-retro: "\f083";
$ala-var-car: "\e985";
$ala-var-car-2: "\e986";
$ala-var-caret-down: "\f0d7";
$ala-var-caret-left: "\f0d9";
$ala-var-caret-right: "\f0da";
$ala-var-caret-square-o-down: "\f150";
$ala-var-toggle-down: "\f150";
$ala-var-caret-square-o-left: "\f191";
$ala-var-toggle-left: "\f191";
$ala-var-caret-square-o-right: "\f152";
$ala-var-toggle-right: "\f152";
$ala-var-caret-square-o-up: "\f151";
$ala-var-toggle-up: "\f151";
$ala-var-caret-up: "\f0d8";
$ala-var-cart-arrow-down: "\f218";
$ala-var-cart-plus: "\f217";
$ala-var-cc: "\f20a";
$ala-var-cc-amex: "\f1f3";
$ala-var-cc-diners-club: "\f24c";
$ala-var-cc-discover: "\f1f2";
$ala-var-cc-jcb: "\f24b";
$ala-var-cc-mastercard: "\f1f1";
$ala-var-cc-paypal: "\f1f4";
$ala-var-cc-stripe: "\f1f5";
$ala-var-cc-visa: "\f1f0";
$ala-var-certificate: "\f0a3";
$ala-var-chain: "\f0c1";
$ala-var-link: "\f0c1";
$ala-var-chain-broken: "\f127";
$ala-var-unlink: "\f127";
$ala-var-check: "\f00c";
$ala-var-check-circle: "\f058";
$ala-var-check-circle-o: "\f05d";
$ala-var-check-square: "\f14a";
$ala-var-check-square-o: "\f046";
$ala-var-chevron-circle-down: "\f13a";
$ala-var-chevron-circle-left: "\f137";
$ala-var-chevron-circle-right: "\f138";
$ala-var-chevron-circle-up: "\f139";
$ala-var-chevron-down: "\f078";
$ala-var-chevron-left: "\f053";
$ala-var-chevron-right: "\f054";
$ala-var-chevron-up: "\f077";
$ala-var-child: "\f1ae";
$ala-var-children: "\e98d";
$ala-var-chrome: "\f268";
$ala-var-circle: "\f111";
$ala-var-circle-o: "\f10c";
$ala-var-circle-o-notch: "\f1ce";
$ala-var-circle-thin: "\f1db";
$ala-var-clipboard: "\f0ea";
$ala-var-paste: "\f0ea";
$ala-var-clock-o: "\f017";
$ala-var-clone: "\f24d";
$ala-var-close: "\f00d";
$ala-var-remove: "\f00d";
$ala-var-times: "\f00d";
$ala-var-cloud: "\f0c2";
$ala-var-cloud-download: "\f0ed";
$ala-var-cloud-upload: "\f0ee";
$ala-var-cny: "\f157";
$ala-var-jpy: "\f157";
$ala-var-rmb: "\f157";
$ala-var-yen: "\f157";
$ala-var-code: "\f121";
$ala-var-code-fork: "\f126";
$ala-var-codepen: "\f1cb";
$ala-var-codiepie: "\f284";
$ala-var-coffee: "\f0f4";
$ala-var-cog: "\f013";
$ala-var-gear: "\f013";
$ala-var-cogs: "\f085";
$ala-var-gears: "\f085";
$ala-var-columns: "\f0db";
$ala-var-comment: "\f075";
$ala-var-comment-o: "\f0e5";
$ala-var-commenting: "\f27a";
$ala-var-commenting-o: "\f27b";
$ala-var-comments: "\f086";
$ala-var-comments-o: "\f0e6";
$ala-var-compass: "\f14e";
$ala-var-compress: "\f066";
$ala-var-connectdevelop: "\f20e";
$ala-var-contact: "\e903";
$ala-var-contact-2: "\e904";
$ala-var-contact-3: "\e905";
$ala-var-contao: "\f26d";
$ala-var-copy: "\f0c5";
$ala-var-files-o: "\f0c5";
$ala-var-copyright: "\e96c";
$ala-var-copyright-2: "\e96d";
$ala-var-copyright-3: "\f1f9";
$ala-var-creative-commons: "\f25e";
$ala-var-credit-card: "\f09d";
$ala-var-credit-card-alt: "\f283";
$ala-var-crop: "\f125";
$ala-var-crosshairs: "\f05b";
$ala-var-css3: "\f13c";
$ala-var-cube: "\f1b2";
$ala-var-cubes: "\f1b3";
$ala-var-cut: "\f0c4";
$ala-var-scissors: "\f0c4";
$ala-var-cutlery: "\f0f5";
$ala-var-dart: "\e9a8";
$ala-var-dashboard: "\f0e4";
$ala-var-tachometer: "\f0e4";
$ala-var-dashcube: "\f210";
$ala-var-database: "\f1c0";
$ala-var-deaf: "\f2a4";
$ala-var-deafness: "\f2a4";
$ala-var-hard-of-hearing: "\f2a4";
$ala-var-dedent: "\f03b";
$ala-var-outdent: "\f03b";
$ala-var-delicious: "\f1a5";
$ala-var-desktop: "\f108";
$ala-var-destination: "\e962";
$ala-var-destination-2: "\e963";
$ala-var-destination-3: "\e964";
$ala-var-destination-package-tour: "\e91d";
$ala-var-deviantart: "\f1bd";
$ala-var-diamond: "\f219";
$ala-var-digg: "\f1a6";
$ala-var-dinner: "\e927";
$ala-var-dinner-2: "\e928";
$ala-var-dinner-3: "\e929";
$ala-var-diving: "\e921";
$ala-var-diving-2: "\e922";
$ala-var-dollar: "\e97d";
$ala-var-dot-circle-o: "\f192";
$ala-var-download: "\f019";
$ala-var-dribbble: "\f17d";
$ala-var-drivers-license: "\f2c2";
$ala-var-id-card: "\f2c2";
$ala-var-drivers-license-o: "\f2c3";
$ala-var-id-card-o: "\f2c3";
$ala-var-dropbox: "\f16b";
$ala-var-drupal: "\f1a9";
$ala-var-edge: "\f282";
$ala-var-edit: "\f044";
$ala-var-pencil-square-o: "\f044";
$ala-var-eercast: "\f2da";
$ala-var-eject: "\f052";
$ala-var-ellipsis-h: "\f141";
$ala-var-ellipsis-v: "\f142";
$ala-var-empire: "\f1d1";
$ala-var-ge: "\f1d1";
$ala-var-envelope: "\f0e0";
$ala-var-envelope-o: "\f003";
$ala-var-envelope-open: "\f2b6";
$ala-var-envelope-open-o: "\f2b7";
$ala-var-envelope-square: "\f199";
$ala-var-envira: "\f299";
$ala-var-eraser: "\f12d";
$ala-var-etsy: "\f2d7";
$ala-var-eur: "\f153";
$ala-var-euro1: "\f153";
$ala-var-euro: "\e97c";
$ala-var-exchange: "\f0ec";
$ala-var-exclamation: "\e971";
$ala-var-exclamation-2: "\e972";
$ala-var-exclamation-3: "\f12a";
$ala-var-exclamation-circle: "\f06a";
$ala-var-exclamation-triangle: "\f071";
$ala-var-warning: "\f071";
$ala-var-expand: "\f065";
$ala-var-expeditedssl: "\f23e";
$ala-var-external-link: "\f08e";
$ala-var-external-link-square: "\f14c";
$ala-var-eye: "\f06e";
$ala-var-eye-slash: "\f070";
$ala-var-eyedropper: "\f1fb";
$ala-var-fa: "\f2b4";
$ala-var-font-awesome: "\f2b4";
$ala-var-facebook: "\f09a";
$ala-var-facebook-f: "\f09a";
$ala-var-facebook-official: "\f230";
$ala-var-facebook-square: "\f082";
$ala-var-fast-backward: "\f049";
$ala-var-fast-forward: "\f050";
$ala-var-fax: "\e95b";
$ala-var-fax-2: "\f1ac";
$ala-var-feed: "\f09e";
$ala-var-rss: "\f09e";
$ala-var-female: "\f182";
$ala-var-ferry: "\e915";
$ala-var-ferry-2: "\e916";
$ala-var-fighter-jet: "\f0fb";
$ala-var-file: "\f15b";
$ala-var-file-archive-o: "\f1c6";
$ala-var-file-zip-o: "\f1c6";
$ala-var-file-audio-o: "\f1c7";
$ala-var-file-sound-o: "\f1c7";
$ala-var-file-code-o: "\f1c9";
$ala-var-file-excel-o: "\f1c3";
$ala-var-file-image-o: "\f1c5";
$ala-var-file-photo-o: "\f1c5";
$ala-var-file-picture-o: "\f1c5";
$ala-var-file-movie-o: "\f1c8";
$ala-var-file-video-o: "\f1c8";
$ala-var-file-o: "\f016";
$ala-var-file-pdf-o: "\f1c1";
$ala-var-file-powerpoint-o: "\f1c4";
$ala-var-file-text: "\f15c";
$ala-var-file-text-o: "\f0f6";
$ala-var-file-word-o: "\f1c2";
$ala-var-film: "\f008";
$ala-var-filter: "\f0b0";
$ala-var-fire: "\f06d";
$ala-var-fire-extinguisher: "\f134";
$ala-var-firefox: "\f269";
$ala-var-first-order: "\f2b0";
$ala-var-fitness: "\e998";
$ala-var-flag: "\f024";
$ala-var-flag-checkered: "\f11e";
$ala-var-flag-o: "\f11d";
$ala-var-flask: "\f0c3";
$ala-var-flickr: "\f16e";
$ala-var-flight: "\e90f";
$ala-var-flight-2: "\e910";
$ala-var-floppy-o: "\f0c7";
$ala-var-save: "\f0c7";
$ala-var-folder: "\f07b";
$ala-var-folder-o: "\f114";
$ala-var-folder-open: "\f07c";
$ala-var-folder-open-o: "\f115";
$ala-var-font: "\f031";
$ala-var-fonticons: "\f280";
$ala-var-fort-awesome: "\f286";
$ala-var-forumbee: "\f211";
$ala-var-forward: "\f04e";
$ala-var-foursquare: "\f180";
$ala-var-free-code-camp: "\f2c5";
$ala-var-free-wifi: "\e99c";
$ala-var-frown-o: "\f119";
$ala-var-fruit: "\e92c";
$ala-var-fruit-2: "\e92d";
$ala-var-futbol-o: "\f1e3";
$ala-var-soccer-ball-o: "\f1e3";
$ala-var-gallery: "\e983";
$ala-var-gamepad: "\f11b";
$ala-var-gavel: "\f0e3";
$ala-var-legal: "\f0e3";
$ala-var-gbp: "\f154";
$ala-var-genderless: "\f22d";
$ala-var-get-pocket: "\f265";
$ala-var-gg: "\f260";
$ala-var-gg-circle: "\f261";
$ala-var-gift: "\f06b";
$ala-var-git: "\f1d3";
$ala-var-git-square: "\f1d2";
$ala-var-github: "\f09b";
$ala-var-github-alt: "\f113";
$ala-var-github-square: "\f092";
$ala-var-gitlab: "\f296";
$ala-var-gittip: "\f184";
$ala-var-gratipay: "\f184";
$ala-var-glass: "\f000";
$ala-var-glide: "\f2a5";
$ala-var-glide-g: "\f2a6";
$ala-var-globe: "\f0ac";
$ala-var-google: "\f1a0";
$ala-var-google-plus: "\f0d5";
$ala-var-google-plus-circle: "\f2b3";
$ala-var-google-plus-official: "\f2b3";
$ala-var-google-plus-square: "\f0d4";
$ala-var-google-wallet: "\f1ee";
$ala-var-graduation-cap: "\f19d";
$ala-var-mortar-board: "\f19d";
$ala-var-grav: "\f2d6";
$ala-var-group: "\f0c0";
$ala-var-users: "\f0c0";
$ala-var-h-square: "\f0fd";
$ala-var-hacker-news: "\f1d4";
$ala-var-y-combinator-square: "\f1d4";
$ala-var-yc-square: "\f1d4";
$ala-var-hand-grab-o: "\f255";
$ala-var-hand-rock-o: "\f255";
$ala-var-hand-lizard-o: "\f258";
$ala-var-hand-o-down: "\f0a7";
$ala-var-hand-o-left: "\f0a5";
$ala-var-hand-o-right: "\f0a4";
$ala-var-hand-o-up: "\f0a6";
$ala-var-hand-paper-o: "\f256";
$ala-var-hand-stop-o: "\f256";
$ala-var-hand-peace-o: "\f25b";
$ala-var-hand-pointer-o: "\f25a";
$ala-var-hand-scissors-o: "\f257";
$ala-var-hand-spock-o: "\f259";
$ala-var-handshake-o: "\f2b5";
$ala-var-harbour: "\e940";
$ala-var-hashtag: "\f292";
$ala-var-hdd-o: "\f0a0";
$ala-var-header: "\f1dc";
$ala-var-headphones: "\f025";
$ala-var-heart: "\f004";
$ala-var-heart-o: "\f08a";
$ala-var-heartbeat: "\f21e";
$ala-var-history: "\f1da";
$ala-var-home: "\f015";
$ala-var-homepage: "\e900";
$ala-var-horse: "\e978";
$ala-var-hospital-o: "\f0f8";
$ala-var-hot-air-balloon: "\e970";
$ala-var-hot-deal: "\e97e";
$ala-var-hourglass: "\f254";
$ala-var-hourglass-1: "\f251";
$ala-var-hourglass-start: "\f251";
$ala-var-hourglass-2: "\f252";
$ala-var-hourglass-half: "\f252";
$ala-var-hourglass-3: "\f253";
$ala-var-hourglass-end: "\f253";
$ala-var-hourglass-o: "\f250";
$ala-var-houzz: "\f27c";
$ala-var-html5: "\f13b";
$ala-var-i-cursor: "\f246";
$ala-var-ice-cream: "\e931";
$ala-var-id-badge: "\f2c1";
$ala-var-ils: "\f20b";
$ala-var-shekel: "\f20b";
$ala-var-sheqel: "\f20b";
$ala-var-image: "\e93b";
$ala-var-image-2: "\e93c";
$ala-var-imdb: "\f2d8";
$ala-var-inbox: "\f01c";
$ala-var-indent: "\f03c";
$ala-var-industry: "\f275";
$ala-var-infant: "\e98e";
$ala-var-info: "\e98b";
$ala-var-info-2: "\f129";
$ala-var-info-circle: "\f05a";
$ala-var-inr: "\f156";
$ala-var-rupee: "\f156";
$ala-var-instagram: "\f16d";
$ala-var-internet-explorer: "\f26b";
$ala-var-intersex: "\f224";
$ala-var-transgender: "\f224";
$ala-var-ioxhost: "\f208";
$ala-var-italic: "\f033";
$ala-var-jeep: "\e977";
$ala-var-jobs: "\e968";
$ala-var-jobs-2: "\e969";
$ala-var-joomla: "\f1aa";
$ala-var-jsfiddle: "\f1cc";
$ala-var-key: "\f084";
$ala-var-keyboard-o: "\f11c";
$ala-var-krw: "\f159";
$ala-var-won: "\f159";
$ala-var-language: "\f1ab";
$ala-var-laptop: "\f109";
$ala-var-lastfm: "\f202";
$ala-var-lastfm-square: "\f203";
$ala-var-laundry: "\e99d";
$ala-var-leaf: "\f06c";
$ala-var-leanpub: "\f212";
$ala-var-lemon-o: "\f094";
$ala-var-level-down: "\f149";
$ala-var-level-up: "\f148";
$ala-var-life-bouy: "\f1cd";
$ala-var-life-buoy: "\f1cd";
$ala-var-life-ring: "\f1cd";
$ala-var-life-saver: "\f1cd";
$ala-var-support: "\f1cd";
$ala-var-lightbulb-o: "\f0eb";
$ala-var-line-chart: "\f201";
$ala-var-linkedin: "\f0e1";
$ala-var-linkedin-square: "\f08c";
$ala-var-linode: "\f2b8";
$ala-var-linux: "\f17c";
$ala-var-lira: "\e97b";
$ala-var-list: "\f03a";
$ala-var-list-alt: "\f022";
$ala-var-list-ol: "\f0cb";
$ala-var-list-ul: "\f0ca";
$ala-var-location-arrow: "\f124";
$ala-var-lock: "\f023";
$ala-var-long-arrow-down: "\f175";
$ala-var-long-arrow-left: "\f177";
$ala-var-long-arrow-right: "\f178";
$ala-var-long-arrow-up: "\f176";
$ala-var-low-vision: "\f2a8";
$ala-var-luggage-storage: "\e9a2";
$ala-var-lunch: "\e925";
$ala-var-lunch-2: "\e926";
$ala-var-magic: "\f0d0";
$ala-var-magnet: "\f076";
$ala-var-mail: "\e95c";
$ala-var-mail-2: "\e95d";
$ala-var-mail-forward: "\f064";
$ala-var-share1: "\f064";
$ala-var-mail-reply: "\f112";
$ala-var-reply: "\f112";
$ala-var-mail-reply-all: "\f122";
$ala-var-reply-all: "\f122";
$ala-var-male: "\f183";
$ala-var-map: "\e945";
$ala-var-map-2: "\e946";
$ala-var-map-3: "\e947";
$ala-var-map-alaturka: "\e948";
$ala-var-map-marker: "\f041";
$ala-var-map-o: "\f278";
$ala-var-map-pin: "\f276";
$ala-var-map-signs: "\f277";
$ala-var-map1: "\f279";
$ala-var-mars: "\f222";
$ala-var-mars-double: "\f227";
$ala-var-mars-stroke: "\f229";
$ala-var-mars-stroke-h: "\f22b";
$ala-var-mars-stroke-v: "\f22a";
$ala-var-massage: "\e997";
$ala-var-maxcdn: "\f136";
$ala-var-meanpath: "\f20c";
$ala-var-media: "\e96a";
$ala-var-media-2: "\e96b";
$ala-var-medium: "\f23a";
$ala-var-medkit: "\f0fa";
$ala-var-meetup: "\f2e0";
$ala-var-meh-o: "\f11a";
$ala-var-mercury: "\f223";
$ala-var-microchip: "\f2db";
$ala-var-microphone: "\f130";
$ala-var-microphone-slash: "\f131";
$ala-var-minus: "\e975";
$ala-var-minus-2: "\e976";
$ala-var-minus-3: "\f068";
$ala-var-minus-circle: "\f056";
$ala-var-minus-square: "\f146";
$ala-var-minus-square-o: "\f147";
$ala-var-mixcloud: "\f289";
$ala-var-mobile: "\f10b";
$ala-var-mobile-phone: "\f10b";
$ala-var-modx: "\f285";
$ala-var-money: "\f0d6";
$ala-var-money-exchange: "\e99e";
$ala-var-money-exchange-2: "\e99f";
$ala-var-money-exchange-3: "\e9a0";
$ala-var-moon-o: "\f186";
$ala-var-mosque: "\e942";
$ala-var-mosque-2: "\e943";
$ala-var-motorcycle: "\f21c";
$ala-var-mouse-pointer: "\f245";
$ala-var-music: "\f001";
$ala-var-neuter: "\f22c";
$ala-var-newspaper-o: "\f1ea";
$ala-var-night-bus: "\e9a9";
$ala-var-object-group: "\f247";
$ala-var-object-ungroup: "\f248";
$ala-var-odnoklassniki: "\f263";
$ala-var-odnoklassniki-square: "\f264";
$ala-var-opencart: "\f23d";
$ala-var-openid: "\f19b";
$ala-var-opera: "\f26a";
$ala-var-optin-monster: "\f23c";
$ala-var-package-tour: "\e91b";
$ala-var-pagelines: "\f18c";
$ala-var-paint-brush: "\f1fc";
$ala-var-paper-plane: "\f1d8";
$ala-var-send: "\f1d8";
$ala-var-paper-plane-o: "\f1d9";
$ala-var-send-o: "\f1d9";
$ala-var-paperclip: "\f0c6";
$ala-var-paragliding: "\e920";
$ala-var-paragraph: "\f1dd";
$ala-var-parking-first: "\e99a";
$ala-var-parking-second: "\e99b";
$ala-var-pause: "\f04c";
$ala-var-pause-circle: "\f28b";
$ala-var-pause-circle-o: "\f28c";
$ala-var-paw: "\f1b0";
$ala-var-paypal: "\f1ed";
$ala-var-pencil: "\f040";
$ala-var-pencil-square: "\f14b";
$ala-var-percent: "\f295";
$ala-var-phone: "\e959";
$ala-var-phone-2: "\e95a";
$ala-var-phone-3: "\f095";
$ala-var-phone-square: "\f098";
$ala-var-photo: "\f03e";
$ala-var-picture-o: "\f03e";
$ala-var-pie-chart: "\f200";
$ala-var-pied-piper: "\f2ae";
$ala-var-pied-piper-alt: "\f1a8";
$ala-var-pied-piper-pp: "\f1a7";
$ala-var-pinterest: "\f0d2";
$ala-var-pinterest-p: "\f231";
$ala-var-pinterest-square: "\f0d3";
$ala-var-plane: "\f072";
$ala-var-play: "\f04b";
$ala-var-play-circle: "\f144";
$ala-var-play-circle-o: "\f01d";
$ala-var-plug: "\f1e6";
$ala-var-plus: "\e973";
$ala-var-plus-2: "\e974";
$ala-var-plus-3: "\f067";
$ala-var-plus-circle: "\f055";
$ala-var-plus-square: "\f0fe";
$ala-var-plus-square-o: "\f196";
$ala-var-podcast: "\f2ce";
$ala-var-power-off: "\f011";
$ala-var-print: "\f02f";
$ala-var-privacy: "\e966";
$ala-var-privacy-2: "\e967";
$ala-var-private-yacht-charter: "\e91f";
$ala-var-product-hunt: "\f288";
$ala-var-puzzle-piece: "\f12e";
$ala-var-qq: "\f1d6";
$ala-var-qrcode: "\f029";
$ala-var-question: "\f128";
$ala-var-question-circle: "\f059";
$ala-var-question-circle-o: "\f29c";
$ala-var-quora: "\f2c4";
$ala-var-quote-left: "\f10d";
$ala-var-quote-right: "\f10e";
$ala-var-ra: "\f1d0";
$ala-var-rebel: "\f1d0";
$ala-var-resistance: "\f1d0";
$ala-var-random: "\f074";
$ala-var-ravelry: "\f2d9";
$ala-var-recycle: "\f1b8";
$ala-var-reddit: "\f1a1";
$ala-var-reddit-alien: "\f281";
$ala-var-reddit-square: "\f1a2";
$ala-var-refresh: "\f021";
$ala-var-registered: "\f25d";
$ala-var-renren: "\f18b";
$ala-var-repeat: "\f01e";
$ala-var-rotate-right: "\f01e";
$ala-var-restaurant: "\e991";
$ala-var-restaurant-2: "\e992";
$ala-var-retweet: "\f079";
$ala-var-road: "\f018";
$ala-var-rocket: "\f135";
$ala-var-rotate-left: "\f0e2";
$ala-var-undo: "\f0e2";
$ala-var-rouble: "\f158";
$ala-var-rub: "\f158";
$ala-var-ruble: "\f158";
$ala-var-rss-square: "\f143";
$ala-var-safari: "\f267";
$ala-var-safe-deposit-box: "\e9a1";
$ala-var-scribd: "\f28a";
$ala-var-search: "\e989";
$ala-var-search-2: "\e98a";
$ala-var-search-3: "\f002";
$ala-var-search-minus: "\f010";
$ala-var-search-plus: "\f00e";
$ala-var-sellsy: "\f213";
$ala-var-server: "\f233";
$ala-var-share: "\e93d";
$ala-var-share-2: "\e93e";
$ala-var-share-3: "\e93f";
$ala-var-share-alt: "\f1e0";
$ala-var-share-alt-square: "\f1e1";
$ala-var-share-square: "\f14d";
$ala-var-share-square-o: "\f045";
$ala-var-shared-lounge: "\e995";
$ala-var-shield: "\f132";
$ala-var-ship: "\f21a";
$ala-var-shirtsinbulk: "\f214";
$ala-var-shopping-bag: "\f290";
$ala-var-shopping-basket: "\f291";
$ala-var-shopping-cart: "\f07a";
$ala-var-shower: "\f2cc";
$ala-var-sign-in: "\f090";
$ala-var-sign-language: "\f2a7";
$ala-var-signing: "\f2a7";
$ala-var-sign-out: "\f08b";
$ala-var-signal: "\f012";
$ala-var-simplybuilt: "\f215";
$ala-var-sitemap: "\e98f";
$ala-var-sitemap-2: "\f0e8";
$ala-var-skyatlas: "\f216";
$ala-var-skype: "\f17e";
$ala-var-slack: "\f198";
$ala-var-sleep-under-the-stars: "\e933";
$ala-var-sliders: "\f1de";
$ala-var-slideshare: "\f1e7";
$ala-var-smile-o: "\f118";
$ala-var-snack: "\e92a";
$ala-var-snapchat: "\f2ab";
$ala-var-snapchat-ghost: "\f2ac";
$ala-var-snapchat-square: "\f2ad";
$ala-var-snowflake-o: "\f2dc";
$ala-var-soldier: "\e944";
$ala-var-sort: "\f0dc";
$ala-var-unsorted: "\f0dc";
$ala-var-sort-alpha-asc: "\f15d";
$ala-var-sort-alpha-desc: "\f15e";
$ala-var-sort-amount-asc: "\f160";
$ala-var-sort-amount-desc: "\f161";
$ala-var-sort-asc: "\f0de";
$ala-var-sort-up: "\f0de";
$ala-var-sort-desc: "\f0dd";
$ala-var-sort-down: "\f0dd";
$ala-var-sort-numeric-asc: "\f162";
$ala-var-sort-numeric-desc: "\f163";
$ala-var-soundcloud: "\f1be";
$ala-var-spa-facilities: "\e999";
$ala-var-space-shuttle: "\f197";
$ala-var-spinner: "\f110";
$ala-var-spoon: "\f1b1";
$ala-var-spotify: "\f1bc";
$ala-var-square: "\f0c8";
$ala-var-square-o: "\f096";
$ala-var-stack-exchange: "\f18d";
$ala-var-stack-overflow: "\f16c";
$ala-var-star: "\f005";
$ala-var-star-half: "\f089";
$ala-var-star-half-empty: "\f123";
$ala-var-star-half-full: "\f123";
$ala-var-star-half-o: "\f123";
$ala-var-star-o: "\f006";
$ala-var-steam: "\f1b6";
$ala-var-steam-square: "\f1b7";
$ala-var-step-backward: "\f048";
$ala-var-step-forward: "\f051";
$ala-var-stethoscope: "\f0f1";
$ala-var-sticky-note: "\f249";
$ala-var-sticky-note-o: "\f24a";
$ala-var-stop: "\f04d";
$ala-var-stop-circle: "\f28d";
$ala-var-stop-circle-o: "\f28e";
$ala-var-street-view: "\f21d";
$ala-var-strikethrough: "\f0cc";
$ala-var-stumbleupon: "\f1a4";
$ala-var-stumbleupon-circle: "\f1a3";
$ala-var-subscript: "\f12c";
$ala-var-subway: "\f239";
$ala-var-suitcase: "\f0f2";
$ala-var-sun-o: "\f185";
$ala-var-sunrise: "\e92f";
$ala-var-sunset: "\e930";
$ala-var-superpowers: "\f2dd";
$ala-var-superscript: "\f12b";
$ala-var-swimming-pool: "\e990";
$ala-var-table: "\f0ce";
$ala-var-table-games: "\e934";
$ala-var-table-tennis: "\e9a7";
$ala-var-tablet: "\f10a";
$ala-var-tag: "\f02b";
$ala-var-tags: "\f02c";
$ala-var-tasks: "\f0ae";
$ala-var-taxi: "\e987";
$ala-var-taxi-2: "\e988";
$ala-var-telegram: "\f2c6";
$ala-var-television: "\f26c";
$ala-var-tv: "\f26c";
$ala-var-tencent-weibo: "\f1d5";
$ala-var-terminal: "\f120";
$ala-var-terms: "\e965";
$ala-var-terrace: "\e994";
$ala-var-text-height: "\f034";
$ala-var-text-width: "\f035";
$ala-var-th: "\f00a";
$ala-var-th-large: "\f009";
$ala-var-th-list: "\f00b";
$ala-var-themeisle: "\f2b2";
$ala-var-thermometer: "\f2c7";
$ala-var-thermometer-4: "\f2c7";
$ala-var-thermometer-full: "\f2c7";
$ala-var-thermometer-0: "\f2cb";
$ala-var-thermometer-empty: "\f2cb";
$ala-var-thermometer-1: "\f2ca";
$ala-var-thermometer-quarter: "\f2ca";
$ala-var-thermometer-2: "\f2c9";
$ala-var-thermometer-half: "\f2c9";
$ala-var-thermometer-3: "\f2c8";
$ala-var-thermometer-three-quarters: "\f2c8";
$ala-var-thumb-tack: "\f08d";
$ala-var-thumbs-down: "\f165";
$ala-var-thumbs-o-down: "\f088";
$ala-var-thumbs-o-up: "\f087";
$ala-var-thumbs-up: "\f164";
$ala-var-tick: "\e97f";
$ala-var-tick-2: "\e980";
$ala-var-ticket: "\f145";
$ala-var-times-circle: "\f057";
$ala-var-times-circle-o: "\f05c";
$ala-var-times-rectangle: "\f2d3";
$ala-var-window-close: "\f2d3";
$ala-var-times-rectangle-o: "\f2d4";
$ala-var-window-close-o: "\f2d4";
$ala-var-tint: "\f043";
$ala-var-toggle-off: "\f204";
$ala-var-toggle-on: "\f205";
$ala-var-tour: "\e90a";
$ala-var-tour-2: "\e90b";
$ala-var-tour-3: "\e90c";
$ala-var-tour-duration: "\e96e";
$ala-var-tour-duration-2: "\e96f";
$ala-var-trademark: "\f25c";
$ala-var-train: "\e911";
$ala-var-train-2: "\e912";
$ala-var-train-3: "\f238";
$ala-var-transfer: "\e909";
$ala-var-transgender-alt: "\f225";
$ala-var-trash: "\f1f8";
$ala-var-trash-o: "\f014";
$ala-var-tree: "\f1bb";
$ala-var-trello: "\f181";
$ala-var-tripadvisor: "\f262";
$ala-var-trophy: "\f091";
$ala-var-truck: "\f0d1";
$ala-var-try: "\f195";
$ala-var-turkish-lira: "\f195";
$ala-var-tty: "\f1e4";
$ala-var-tumblr: "\f173";
$ala-var-tumblr-square: "\f174";
$ala-var-turkey-package-tour: "\e91c";
$ala-var-turkish-bath: "\e996";
$ala-var-turkish-gulet: "\e919";
$ala-var-twitch: "\f1e8";
$ala-var-twitter: "\f099";
$ala-var-twitter-square: "\f081";
$ala-var-umbrella: "\f0e9";
$ala-var-underline: "\f0cd";
$ala-var-universal-access: "\f29a";
$ala-var-unlock: "\f09c";
$ala-var-unlock-alt: "\f13e";
$ala-var-upload: "\f093";
$ala-var-usb: "\f287";
$ala-var-usd: "\f155";
$ala-var-user: "\f007";
$ala-var-user-circle: "\f2bd";
$ala-var-user-circle-o: "\f2be";
$ala-var-user-md: "\f0f0";
$ala-var-user-o: "\f2c0";
$ala-var-user-plus: "\f234";
$ala-var-user-review: "\e960";
$ala-var-user-review-2: "\e961";
$ala-var-user-secret: "\f21b";
$ala-var-user-times: "\f235";
$ala-var-van: "\e984";
$ala-var-vegan-food: "\e92b";
$ala-var-venus: "\f221";
$ala-var-venus-double: "\f226";
$ala-var-venus-mars: "\f228";
$ala-var-viacoin: "\f237";
$ala-var-viadeo: "\f2a9";
$ala-var-viadeo-square: "\f2aa";
$ala-var-video: "\e937";
$ala-var-video-2: "\e938";
$ala-var-video-camera: "\f03d";
$ala-var-vimeo: "\f27d";
$ala-var-vimeo-square: "\f194";
$ala-var-vine: "\f1ca";
$ala-var-vk: "\f189";
$ala-var-volleyball: "\e9a5";
$ala-var-volume-control-phone: "\f2a0";
$ala-var-volume-down: "\f027";
$ala-var-volume-off: "\f026";
$ala-var-volume-up: "\f028";
$ala-var-water-sports: "\e932";
$ala-var-wechat: "\f1d7";
$ala-var-weixin: "\f1d7";
$ala-var-weibo: "\f18a";
$ala-var-whatsapp: "\f232";
$ala-var-wheelchair: "\f193";
$ala-var-wheelchair-alt: "\f29b";
$ala-var-wifi: "\f1eb";
$ala-var-wikipedia-w: "\f266";
$ala-var-window-maximize: "\f2d0";
$ala-var-window-minimize: "\f2d1";
$ala-var-window-restore: "\f2d2";
$ala-var-windows: "\f17a";
$ala-var-wordpress: "\f19a";
$ala-var-wpbeginner: "\f297";
$ala-var-wpexplorer: "\f2de";
$ala-var-wpforms: "\f298";
$ala-var-wrench: "\f0ad";
$ala-var-x-icon: "\e981";
$ala-var-x-icon-2: "\e982";
$ala-var-xing: "\f168";
$ala-var-xing-square: "\f169";
$ala-var-y-combinator: "\f23b";
$ala-var-yc: "\f23b";
$ala-var-yacht: "\e91a";
$ala-var-yacht-charter: "\e91e";
$ala-var-yahoo: "\f19e";
$ala-var-yelp: "\f1e9";
$ala-var-yoast: "\f2b1";
$ala-var-youtube: "\f167";
$ala-var-youtube-play: "\f16a";
$ala-var-youtube-square: "\f166";