/*!
 * Ala Icons 1.3 by
 * License - MIT License)
 */
@import 'variables';
@import 'mixins';
@import 'core';
@import 'larger';
@import 'fixed-width';
@import 'list';
@import 'bordered-pulled';
@import 'animated';
@import 'rotated-flipped';
@import 'stacked';
@import 'icons';
@import 'screen-reader';

@font-face {
  font-family: 'Ala-Icons';
  font-style: normal;
  font-weight: 400;
  font-display: $ala-font-display;
  src: url('#{$ala-font-path}/Ala-Icons.eot');
  src: url('#{$ala-font-path}/Ala-Icons.eot?#iefix') format('embedded-opentype'),
  url('#{$ala-font-path}/Ala-Icons.woff') format('woff'),
  url('#{$ala-font-path}/Ala-Icons.ttf') format('truetype'),
  url('#{$ala-font-path}/Ala-Icons.svg#fontawesome') format('svg');
}